__pycache__/
data_example/
telex/__pycache__/
utils/__pycache__/
log/
SUMO_log/
figures.ipynb
.ipynb_checkpoints/
telex/
torch_dataset_new/
torch_dataset_ver3/
torch_dataset_ver4/
torch_dataset_ver5/
saved_model_bu/
venv/
hdd/
hdd_avg/
hdd_backup/
hdd_IFCA/
hdd_IFCA_backup/
hdd_IFCA_paper/
ct_IFCA/
ct_FedSTL/
ct/
hdd_result_1:100/
hdd_temp/
.conda/
.idea/
synth.log
